{% extends 'menusfront.html' %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
  <div class="holder">
    <h1>Edit Restaurant</h1>
  <form id="editRestaurantForm" action="{{ url_for('editRestaurant', restaurant_id=restaurant_id) }}"
  method="post">
  <p>
    What would you like to call the Restaurant?
    <br />
  </p>
  <input type="text" name="name" value="{{ x }}" />
  <br />
  <br />
  <p>
    What would you like the restaurant's description to be?
  </p>
  <input type="text" name="description" value="{{ y }}" />
</form>
<form id="editRestaurantFormCancel" action="{{ url_for('menusFront') }}">
</form>
<br />
<input form="editRestaurantForm" class="bttn" type="submit" value="Submit" />
<input form="editRestaurantFormCancel" class="bttn" type="submit" value="Cancel" />
</div>
{% endblock %}
